use nix

default_kernel_dir=/lib/modules/`uname -r`/build

if [[ -d "$default_kernel_dir" ]]; then
    export RTE_KERNELDIR=$default_kernel_dir
else
    export RTE_KERNELDIR=$NIXOS_KERNELDIR
fi
mkdir -p build

export PATH=$PATH:$(realpath build):$(realpath gdb)
ln -sf $(command -v modprobe) $(command -v sudo) $(command -v insmod) $(command -v rmmod) build/

# ignore system paths
export PATH=$(p=$(echo $PATH | tr ":" "\n" | grep -Ev "^(/bin|/sbin|/usr/bin|/usr/sbin|/usr/local/bin|/usr/local/sbin)" | tr "\n" ":"); echo ${p%:})
