CONFIG_RTE_BACKTRACE=n
CONFIG_RTE_APP_TEST=n
CONFIG_RTE_TEST_PMD=n
CONFIG_RTE_TEST_BBDEV=n
CONFIG_RTE_APP_COMPRESS_PERF=n
CONFIG_RTE_APP_CRYPTO_PERF=n
CONFIG_RTE_APP_EVENTDEV=n
CONFIG_RTE_LIBRTE_PDUMP=n
CONFIG_RTE_PROC_INFO=n
